# IDE
.vscode
.vs
generated

# Binaries
.xmake
build
kaleidoscope.txt

# Private stuff smh
thirdparty/metalirconverter/Include/

# Images
data/kd/tests/*.png

# Config
imgui.ini

# Whatever
.DS_Store
